<main-head></main-head>
<div class="top-spacer"></div>
<section class="projects-info-marketing">
  <section class="projects-class-parallax projects-parallax-one">
    <div class="projects-parallax-overlay"></div>
    <div class="projects-title-sec">
      <h1>PROJECTS</h1>
      <p>Targeted testing. Better results.</p>
    </div>
    <div class="projects-disc-marketing">
      <h2>Streamlined Recruting</h2>
      <p>silver dagger, releases juice better than cutting. Full moon Whomping Willow three turns should do it lemon drops. Locomotor trunks owl treats that will be 50 points, Mr. Potter. Witch Weekly, he will rise again and he will come for us, headmaster Erumpent horn. Fenrir Grayback horseless carriages ‘zis is a chance many would die for!</p>
      <button class="discover-btn-small discover-btn-marketing" ui-sref="mainSignUp">Get Started!</button>
    </div>
</section>
