.my-project-section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.no-projects{
  margin: 40px;
}
.my-project-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  height: 400px;
  border: 2px solid black;
  margin: 20px;
  text-align: center;
}
.my-project-post h3{
  font-size: 2rem;
  margin: 10px;
}
.my-project-post p{
  font-size: 1rem;
  margin: 10px;
}
.project-post-img{
  width: 200px;
  height: 200px;
  border-radius: 20%;
  margin: 20px 0 0 0;
}
