<header>
  <div class="nav-bar">
    <img ui-sref="home" src="img/discover-logo.png">
    <ul>
      <li ng-hide="currentUser.acctype === 'Employer' || !currentUser.acctype" ui-sref="userprofile.timeline">Profile</li>
      <li ng-hide="currentUser.acctype === 'Student' || !currentUser.acctype" ui-sref="companyProfile.timeline">Profile</li>
      <li ui-sref="sSignUp">Students</li>
      <li ui-sref="eSignUp">employers</li>
      <li ui-sref="mainSignUp" id="create-account">create account</li>
      <li ui-sref="signin" >Sign in </li>
    </ul>
  </div>
</header>
