<div class="top-spacer"></div>
<div class="company-profile-navbar">
  <img ui-sref="home" src="img/discover-logo.png">
  <ul>
    <li ui-sref="userprofile.timeline">Profile</li>
    <li ng-click="dropdownAnimateProjects()">Profile Pieces</li>
    <li ng-click="dropdownAnimateStudents()">Employers</li>
    <li ui-sref="inbox.messages" id="user-inbox-li">
      <div class="user-inbox-button">Inbox<div ng-hide="!currentUser.messageNum">{{currentUser.messageNum}}</div></div>
    </li>
    <li ng-click="signOut()" >Sign Out </li>
  </ul>
</div>
<div class="blue-nav">
  <div class="blue-nav-projects">
    <ul>
      <li ui-sref="newProfilePiece">New Piece</li>
      <li ui-sref="myProjects" >Portfolio</li>
      <li ui-ssref="signin" >Submited Projects </li>
    </ul>
  </div>
  <div class="blue-nav-students">
    <ul>
      <li ui-sref="employerLineup">All Employers</li>
      <li ui-sref="savedUsers" >Saved Employers </li>
      <li ui-ssref="signin" style="color: rgba(0,0,0, .3);" >My Projects </li>
    </ul>
  </div>
</div>
