<div class="all-css-projects">See All CSS Projects</div>
<div class="single-project">
  <div>
    <img class="right-chevron" src="img/ChevronLeft-128.png">
    <h3>Replicate Netflix site</h3>
  </div>
  <span>make a visual replica of the Netflix site!</span>
</div>

<div class="single-project">
  <div>
    <img class="right-chevron" src="img/ChevronLeft-128.png">
    <h3>Make W3 Schools site</h3>
  </div>
  <span>make a visual replica of the W3 School site!</span>
</div>

<div class="single-project">
  <div>
    <img class="right-chevron" src="img/ChevronLeft-128.png">
    <h3>WestWorld site Project</h3>
  </div>
  <span>make a visual replica of the WestWorld site!</span>
</div>
