  <main-head></main-head>
  <section class="signup-section signup-section-3" >
  <div class="video-overlay-3"></div>
  <div id="discover-text-banner">
    <h1>DISCOVER <span>TALENT</span></h1>
  </div>
  <div class="signup-banner">
    <h1>Employer Signup</h1>
  <div class="studentGetSection">
    <div class="signUpBox">
      <div>
        <button ui-sref="createEmployerProfile" class="EmployerSignUpButton" ng-click="getUser(userAccount)">Devmountain Discover</button>
        <span id="request-invite"> Request Invitation Code </span>
      </div>
    </div>
  </div>
  </div>
</section>
