<main-head></main-head>
<section class="signup-section signup-section-1" >\
  <div class="video-overlay-2"></div>
  <div id="discover-text-banner">
    <h1>DISCOVER <span>MORE</span></h1>
  </div>
  <div class="signup-banner">
    <h1>Choose Account Type</h1>
    <span id="request-invite" >- or request an invitation code - </span>
  <div class="studentGetSection">
    <div class="signUpBox">
      <div>
        <button ui-sref="createProfile" class="EmployerSignUpButton" ng-click="">Student</button>
      </div>
      <div>
        <button ui-sref="createEmployerProfile" class="EmployerSignUpButton" ng-click="">Employer</button>
      </div>
    </div>
  </div>
  </div>
</section>
