<main-head></main-head>
<!-- <div class="top-spacer"></div> -->
<section class="signup-section signup-section-2" >

  <div class="video-overlay-2"></div>
  <div id="discover-text-banner">
    <h1>DISCOVER <span>SUCCESS</span></h1>
  </div>
  <div class="signup-banner">
    <h1>Student Signup</h1>
  <div class="studentGetSection">
    <div class="signUpBox">
      <div>
        <button ui-sref="createProfile" class="EmployerSignUpButton" ng-click="getUser(userAccount)">Devmountain Discover</button>
        <span id="request-invite" >Request Invitation Code </span>
      </div>
    </div>
  </div>
  </div>
</section>
